.create_and_update_wrapper {
    width: 25rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid #141210;
    margin: 1rem auto;
    padding: 0.2rem 0;
}

.create_form,
.update_form,
.controlls {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 1rem;
}

.controlls{
    grid-gap: 1.5rem;
}

/*  ///////////  CAR  ///////////  */
.car_container {
    margin: 0 0 0.6rem;
}

.button {
	background: #eaded7;
    display: inline-block;
    margin: 0.1rem 0.1rem;
	text-transform: uppercase;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    border-color: transparent;
}

.disabled {
    filter: brightness(60%);
}

.button:hover {
    background: #cabfb5;
}

.car_name {
    margin: 0.1rem;
    text-transform: uppercase;
    color: #141210;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 3px #1412109a;
}

.road {
    display: flex;
    margin: 0.1rem 0 0;
    border-bottom: 1px solid #141210;
    background: url('../../assets/images/road.png');
    background-color: rgba(40, 216, 216, 0.5);
}

.control_panel {
    display: flex;
    flex-direction: column;
}

.start_btn,
.stop_btn {
    padding: 0 0.1rem 0.1rem;
}

svg { 
	width: 5rem;
	height: 4rem;
}

@keyframes ride {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100vw - 240px));
    }
}

.ride {
    animation-fill-mode: forwards;
    animation-name: ride;
    animation-timing-function: linear;
}
 
.flag {
    font-size: 2.3rem;
    margin-left: auto;
}

.winner:after {
    margin-left: -2.6em;
    vertical-align: 35%;
}

.winner:after {
    content: "🏆";
}

.modal_wrapper {
    align-content: center;
    align-items: center;
    background-color: rgba(30, 30, 25, 0.5);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.modal,
.modal_wrapper {
    display: flex;
    justify-content: center;
}

.modal {
    background: rgba(30, 94, 96, 0.5);
    border-radius: 10px;
    padding: 0 1em;
    width: 500px;
}

.modal p {
    text-align: center;
}
